# Work on PAN-12
Akhil Sanker (reekithak)

In [2]:
import pandas as pd 
import os
import numpy as np

**i) Identifying the Dataset Points**

In [3]:
try:
    Train_pos = pd.read_csv(r"D:\working repos\Python-Workspace\Omdena\Train_pos.csv")
    Train_neg = pd.read_csv(r"D:\working repos\Python-Workspace\Omdena\Train_Neg.csv")
    Test_pos = pd.read_csv(r"D:\working repos\Python-Workspace\Omdena\Test_pos.csv")
    Test_neg = pd.read_csv(r"D:\working repos\Python-Workspace\Omdena\Test_Neg.csv")

except Exception as e:
    print(e)
try:
    Train_pos = Train_pos.drop("Unnamed: 0",axis=1)
    Train_neg = Train_neg.drop("Unnamed: 0",axis=1)
    Test_pos = Test_pos.drop("Unnamed: 0",axis=1)
    Test_neg = Test_neg.drop("Unnamed: 0",axis=1)
except Exception as e:
    print(e)

**Random Mixing up of Id's to check relation ( if any )**

In [4]:
#positive
pos1_list = Train_pos['ID'].to_list()
pos2_list = Test_pos['ID'].to_list()
pos_list = pos1_list + pos2_list
#negative
neg1_list = Train_neg['ID'].to_list()
neg2_list = Test_neg['ID'].to_list()
neg_list = neg1_list + neg2_list
len(pos_list) , len(neg_list)

(3994, 193943)

In [5]:
from fractions import Fraction
print(Fraction(len(neg_list)//len(pos_list)).limit_denominator())

48

In [6]:
common_ids = set(neg_list).intersection(set(pos_list))
common_ids ,len(set(pos_list)),len(set(neg_list))

(set(), 3994, 193943)

Note : 
1) Its clearly visible that the dataset has the issue of Class imbalance , can be treated on a later stage using Oversampling
2) Null Set Returned , shows no overlapping of people also no chat / person is repeated ! (value notifying! )

**ii) Working code** - Without oversampling

Merging the data - 0 non Abusive , 1 Abusive

In [7]:
pos_data = pd.concat([Train_pos,Test_pos],axis=0) 
neg_data = pd.concat([Train_neg,Test_neg],axis=0)
pos_data['class'] = [0 for x in range(pos_data.shape[0])]
neg_data['class'] = [1 for x in range(neg_data.shape[0])]
Data = pd.concat([pos_data,neg_data]) #Merged Data

In [8]:
Data.head(5) , Data.tail(5)

(                                 ID  \
 0  0014c1b4278df4bf8ea8a20b7abdb13c
 1  0027f42308aad202fcb7224597a7ac1a
 2  0063692c957229db0816e0f240d7fa0d
 3  00a88e94773667ea0146e223d8d22f44
 4  00b06ff8fb883556067a7f53c06455fe

                                   Comments / Message  class
 0  hi.hi.how r ya?.where u been.im cool.was out w...      0
 1  hey baby.hey.i took a shower.kool.just seeing ...      0
 2  hello.hey.a little late but I am here.yea.so w...      0
 3  u still here ?.im sorry but i dont think I can...      0
 4  so--you on??.I know you're around cause I just...      0  ,
                                       ID  \
 135752  fffc29bad1debf0fc42c0fe4b921a192
 135753  fffd9ce69d28d71b407c6ae24c3973e6
 135754  fffe4d1b08952afb8627a9b594f913c7
 135755  ffff2d0e314610b1df596482d806ada9
 135756  ffff74f40b58182a2521235b9db901d4

                                        Comments / Message  class
 135752                   hi.hi.Rødgrød med fløde?.asl?.        1
 135753  hey, why can't we edit the topic?.icefox: we'r...      1
 135754  do you want to chat?.here not on msn.i don&amp...      1
 135755  Haiiiiiiiii..Can you help me?.):.sure...with w...      1
 135756  hey.hi.lookingfor girl?.r u girl?.yes.u?.what ...      1  )

**Creating temporary Data**

In [9]:
Data_temp = pd.concat([Data.head(100),Data.tail(100)]).sample(frac=1).reset_index(drop=True) #shuffled data ready
Data_temp

,ID,Comments / Message,class
0,0b3185b09b832231aded5e04691b803c,u there?.i am here.hi :).how r u.im good and e...,0
1,058aed70ca1f38d88e181e366c0c5620,;;).hey.well i am suprised.your still here.y?....,0
2,ffd26e8a663cd024b8b4a0c0a82d6619,Hi! I&amp;apos;m a 39 year old male looking fo...,1
3,0ec23465d064ab518e57bc456050c88f,hi.alan u here?.yep.cool watcha doin?.on break...,0
4,fff13b0ab64b53ba4c58790fdc4bea9d,:(.hey man.hi.my prezel isn as crunchy as in t...,1
...,...,...,...
195,ffc9d4b2a526519414f524fc2377b843,Hi all! I am trying to layout my entire page w...,1
196,ffd4918e89fea1d983f78b9f68dab399,"helllooooo.hey.from?.the us, u?.asia.",1
197,ffd6d27abcb55cfbd2e18ce02e299934,Hey!.hi.asl?.19 m ua.,1
198,ffe5c65583770e06312a95d6a0f34591,673bcda76f0df726d6ec1518484b99ee: I'll try to ...,1
199,ffd7f4c202dc51b6e8fbb0f65b6e8cbe,"69b0d3dfe919a6b860a9fac82de52a7e: about r5248,...",1

In [10]:
#Creating lists
X_train = Data_temp['Comments / Message'].to_list()
Y_train = Data_temp['class'].to_list()
from cleantext import clean_text

In [11]:
#Cleaning the X_train data
X_train = [clean_text(x) for x in X_train]
len(X_train) == len(Y_train)

True